/* Cart.css */

.cart-container {
    width: 1600px;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-heading {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cart-details {
    color: #666;
  }
  
  /* Add more styles as needed */
  